<!DOCTYPE html>

{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load cache %}

{% block content %}
    <h1>{% trans 'All news in the category:' %} {{category}}</h1>
        <h2>{{now_time|date:'d.m.y H:i'}}</h2>
        <h4 style="text-align: left;">{% trans 'All news:' %} {{cat_list|length}}</h4>
{% if is_not_subscribed %}
{% if request.user.is_authenticated %}
<h4 style="text-align: left;"><a href="{% url 'add_category' category.id %}">{% trans 'Subscribe to the newsletter' %}</a></h4>
{% endif %}
{% endif %}
<hr>
        {% if cat_list %}
        <center>
            <table>
                <tr>
                    <td>{% trans 'Date of creations' %}</td>
                    <td>{% trans 'Heading' %}</td>
                    <td>{% trans 'Text' %}</td>
                </tr>
                {% for post in cat_list %}
                <tr>
                    <td>{{post.date_of_creation|date:'d.m.y'}}</td>
                    <td><a href="http://127.0.0.1:8000/news/{{post.id}}">{{post.heading|truncatechars:20}}</a></td>
                    <td>{{post.text|truncatechars:20}}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
        {% else %}
            {% trans 'There is no news!' %}
        {% endif %}

{% endblock content %}