
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load cache %}
{% load i18n %}
{% load tz %}

{% block content %}
<h1>{{post.heading}}</h1>
<hr>
    <h5 style="text-align: left;">{% translate "Date of creation" %}: {{post.date_of_creation|date:'d.m.y'}}</h5>
    <h5 style="text-align: left;">{% translate "Type" %}: {{post.article}}</h5>

<h5 style="text-align: left;">{% translate "Category" %}:</h5>
{% for i in post.name_category %}
    <h5 style="text-align: left;"><a href="http://127.0.0.1:8000/news/category/{{i|cut_number}}/">{{i|cut_names}}</a></h5>
{% endfor %}
<h5 style="text-align: left;">
    {% if request.user.is_authenticated %}

<a href="http://127.0.0.1:8000/news/{{post.id}}/update"><button>{% translate "Edit" %}</button></a>
<a href="http://127.0.0.1:8000/news/{{post.id}}/delete"><button>{% translate "Delete" %}</button></a>

    {% endif %}
</h5>
<hr>
<h5>{{post.text|censor}}</h5>
{% endblock content %}