<!DOCTYPE html>
{% load custom_filters %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{% trans 'New publication in the category' %} {{category}}!</h2>
    <p>
        {% trans 'Hello! There is a new publication in the category you are subscribed to!' %}
    </p>
<p>{{post.heading}}</p>
<p>{{post.text|truncatechars:20}}</p>
<a href="http://127.0.0.1:8000/news/{{post.id}}">{% trans 'More detailed' %}</a>
</body>
</html>